[Desktop Entry]
Type=Application
Version=1.0
Name=EjeCasher
Comment=EjeCasher
Path=CURRENT_DIR
Exec=venv/bin/python3 casher.py
Icon=casher.png
Terminal=false
Categories=Office
